*
{
    margin: 0;
    padding: 0;
}
.profileNshort
{
    display: flex;
    width: 700px;
    justify-content: space-around;
    padding: 5%;
    margin: 0 auto;
}
.imageSec img
{
    width: 200px;
    border-radius: 50%;
}
.short 
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.short h2{
    font-size: 1.5em;
    font-weight: 600;
    font-family: "Quicksand";
}
.short h4{
    font-size: .9em;
    color: rgb(255, 115, 0);
    font-weight: 400;
}

.user_address_box
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 700px;
    padding: 5%;
    margin: 0 auto;
}

.user_address_box .address_box_title
{
    width: 100%;
    height: auto;
    padding: 5px 0;
    background: rgba(255, 0, 0, 0.1);
    border: 1px solid rgba(255, 0, 0, 0.5);
    border-radius: 5px;
    margin-bottom: 10px;
}
.address_box_title p
{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    font-size: .8em;
}
.user_address
{
    width: 100%;
}
.data_pair
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    background: rgba(59, 59, 59, 0.1);
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid rgba(59, 59, 59, 0.5);
    margin: 5px 0;
}
.data_pair p
{
    width: 100%;
    margin: 0 auto;
    text-align: left;
}
.data_pair p:nth-child(2)
{
    /* background: rgba(0, 255, 0, 0.39); */
    background: rgba(255, 115, 0, 0.8);
    border-radius: 5px;
    color: #fff;
    text-align: left;
    padding: 0 10px;
    /* color: rgb(255, 115, 0); */
}
@media only screen and (max-width: 600px) 
{
    .profileNshort
    {
        width: 100%;
        flex-direction: column;
        justify-content: center;
    }
    .imageSec
    {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
    }
    .short
    {
        align-items: center;
    }
    .user_address_box
    {
        width: 90vw;
        padding: 10px;
    }
}